/* Fonts and colors only*/
body	{
	background-color: rgb(255, 255, 255);
	font-size: 17px;
	color: rgb(100, 100, 100);
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 50px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
h2 {
	font-size: 22px;
	color: rgb(134, 129, 76);
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
	color: rgb(218, 213, 171);
}
a:hover {
	text-decoration: none;
	color: red;	
}
/* Custom design */
#banner {
	background-image: url(https://picsum.photos/id/674/2500/600);
	padding: 150px 0;
	text-align: center;
	color: white;
}
#banner h1 {
  color: white;
  font-size: 50px;
  }
#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
}
#banner a {
	color: white;
	font-size: 22px;
}
.card {
	padding: 50px;
	text-align: center;
	opacity: 0.7;
 }
 .footer {
 	padding-top: 10px;
 	padding-left: 20px;
 	background: rgba(20, 20, 20, 0.9);
 	text-align: justify;
 	color: lightgrey;
 	font-size: 17px;
 }
 .footer a {
 	color: lightgrey;
 	font-size: 17px;
 }
.footer a:hover {
 	color: white;
 }
